*

!/lib/
!/lib/common.py
!/lib/model.py
!/lib/Hyperparameters.py

!/images/
!/images/SOP+ERE.png

!/videos/
!/videos/SOP-Humanoid-v3.gif

!/train_sop.py
!/play_sop.py

!/README.md
!/LICENSE
!/.gitignore
